@import '_resets';
@import '_config';

@mixin transition{
    transition: all ease-in-out 0.8s;
};

body {
    font-family: 'Courier New', Courier, monospace;
    @include transition();
    // background-color: $primary-background-color;

    .container {
        width: 90%;
        margin: auto;

        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            padding-bottom: 30px;
            width: 100%;
            border-bottom: 1px solid gray;
    
            .contact-links {
                text-align: left;
    
                a {
                    text-decoration: none;
    
                    .icon {
                        transform: scale(1.2);
                        color: $primary-text-color;
                        margin: 0px 5px 0px 5px;
                        @include transition();
    
                        &:hover {
                            padding-top: 10px;
                            transform: scale(1.6);
                        }
                    }

                    .icon-dark {
                        transform: scale(1.2);
                        color: gray;
                        margin: 0px 5px 0px 5px;
                        @include transition();
    
                        &:hover {
                            @include transition();
                            padding-top: 10px;
                            transform: scale(1.6);
                        }
                    }
                }
            }

            .toggle-btn-cont {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .toggle-icon {
                    width: 20px;
                    height: 12px;
                    background-color: navy;
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    @include transition();
                }
    
                .toggle-btn-light {
                    background-color: gray;
                    @include transition();
                }

                .toggle-btn-text {
                    font-weight: bold;
                    font-size: 10px;
                }
            }
        }

        .main-catch-text {
            .main-catch-heading {
                margin-top: 30px;
                color: $primary-text-color;
                @include transition();
                font-weight: bold;
                font-size: 40px;
            }
            .main-catch-heading-dark {
                // margin-top: 30px;
                @include transition();
                color: $span-dark-color;
                // font-weight: bold;
                // font-size: 40px;
            }

            .main-catch-paragraph {
                margin-top: 40px;
                line-height: 1.8;

                span {
                    color: $primary-text-color;
                    font-weight: bold;
                    @include transition();
                }

                .span-dark {
                    color: $span-dark-color;
                    @include transition()
                }
            }
        }

        .tools-section {
            margin-top: 40px;

            .tools-heading-text {
                color: $primary-text-color;
                @include transition();
            }
            .tools-heading-text-dark {
                color: $span-dark-color;
                @include transition()
            }

            .tools-section-paragraph {
                margin-top: 10px;
                line-height: 1.8;
            }

            .tools-logo-cont {
                margin-top: 10px;

                .tools-logo-item {
                    display: flex;
                    margin-top: 10px;

                    .icon {
                        transform: scale(1.3);
                        color: $primary-text-color;
                    }
                    .icon-dark {
                        transform: scale(1.3);
                        color: gray;
                    }

                    p {
                        margin-left: 15px;
                    }
                }
            }
        }

        .resume-section {
            margin-top: 40px;

            .anchor1, .anchor2 {
                text-decoration: none;
                color: $primary-text-color;
                font-weight: bold;                   
            }
            .anchor-dark {
                text-decoration: none;
                color: $span-dark-color;
                font-weight: bold;        
                @include transition();
            }
        }

        .footer {
            margin-top: 40px;
            text-align: center;
            font-size: 13px;
        }
    }
}

.light {
    background-color: $primary-color-light;
    @include transition()
}

.dark {
    background-color: $primary-color-dark;
    color: gray;
    @include transition();
}