* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  transition: all ease-in-out 0.8s;
}
body .container {
  width: 90%;
  margin: auto;
}
body .container .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  border-bottom: 1px solid gray;
}
body .container .nav-container .contact-links {
  text-align: left;
}
body .container .nav-container .contact-links a {
  text-decoration: none;
}
body .container .nav-container .contact-links a .icon {
  transform: scale(1.2);
  color: grey;
  margin: 0px 5px 0px 5px;
  transition: all ease-in-out 0.8s;
}
body .container .nav-container .contact-links a .icon:hover {
  padding-top: 10px;
  transform: scale(1.6);
}
body .container .nav-container .contact-links a .icon-dark {
  transform: scale(1.2);
  color: gray;
  margin: 0px 5px 0px 5px;
  transition: all ease-in-out 0.8s;
}
body .container .nav-container .contact-links a .icon-dark:hover {
  transition: all ease-in-out 0.8s;
  padding-top: 10px;
  transform: scale(1.6);
}
body .container .nav-container .toggle-btn-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container .nav-container .toggle-btn-cont .toggle-icon {
  width: 20px;
  height: 12px;
  background-color: black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all ease-in-out 0.8s;
}
body .container .nav-container .toggle-btn-cont .toggle-btn-text {
  font-weight: bold;
  font-size: 10px;
}
body .container .toggle-btn-light {
  background-color: green;
  transition: all ease-in-out 0.8s;
}
body .container .main-catch-text .main-catch-heading {
  margin-top: 30px;
  color: black;
  transition: all ease-in-out 0.8s;
  font-weight: bold;
  font-size: 40px;
}
body .container .main-catch-text .main-catch-heading-dark {
  transition: all ease-in-out 0.8s;
  color: orange;
}
body .container .main-catch-text .main-catch-paragraph {
  margin-top: 40px;
  line-height: 1.8;
}
body .container .main-catch-text .main-catch-paragraph span {
  color: black;
  font-weight: bold;
  transition: all ease-in-out 0.8s;
}
body .container .main-catch-text .main-catch-paragraph .span-dark {
  color: orange;
  transition: all ease-in-out 0.8s;
}
body .container .tools-section {
  margin-top: 40px;
}
body .container .tools-section .tools-heading-text {
  color: black;
  transition: all ease-in-out 0.8s;
}
body .container .tools-section .tools-heading-text-dark {
  color: orange;
  transition: all ease-in-out 0.8s;
}
body .container .tools-section .tools-section-paragraph {
  margin-top: 10px;
  line-height: 1.8;
}
body .container .tools-section .tools-logo-cont {
  margin-top: 10px;
}
body .container .tools-section .tools-logo-cont .tools-logo-item {
  display: flex;
  margin-top: 10px;
}
body .container .tools-section .tools-logo-cont .tools-logo-item .icon {
  transform: scale(1.3);
  color: black;
}
body .container .tools-section .tools-logo-cont .tools-logo-item .icon-dark {
  transform: scale(1.3);
  color: gray;
}
body .container .tools-section .tools-logo-cont .tools-logo-item p {
  margin-left: 15px;
}
body .container .resume-section {
  margin-top: 40px;
}
body .container .resume-section .anchor1 {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
body .container .resume-section .anchor-dark {
  text-decoration: none;
  color: orange;
  font-weight: bold;
  transition: all ease-in-out 0.8s;
}
body .container .footer {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
}

.light {
  background-color: white;
  transition: all ease-in-out 0.8s;
}

.dark {
  background-color: black;
  color: gray;
  transition: all ease-in-out 0.8s;
}/*# sourceMappingURL=main.css.map */